.answerButton {
    margin: 5px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: large;
    background-color: white; /* Default background */
    border: 1px solid black;
}

.correctAnswer {
    background-color: green;
}

.incorrectAnswer {
    background-color: red;
}