.answerButton {
    margin: 5px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: large;
    background-color: white; /* Default background */
    border: 1px solid rgb(190, 190, 190);
}

.correctAnswer {
    background-color: #dcfede;
    color: black;
}

.incorrectAnswer {
    background-color: #ffdcdc;
    color: black;
}