.answerButton {
  margin: 5px;
  border-radius: 10px;
  width: 300px;
  height: 70px;
  font-size: large;
  background-color: white;
  border: 1px solid rgb(190, 190, 190);
  font-size: 15px;
}

.correctAnswer {
  background-color: #dcfede;
  color: black;
}

.incorrectAnswer {
  background-color: #ffdcdc;
  color: black;
}
