.quizContainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    width: auto;
    text-align: center;
}

.quizAnswersContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}
