.quizContainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    width: auto;
    text-align: center;
}

.quizAnswersContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}

.questionBlock {
    width: 90%;
    border: solid rgb(204, 204, 204);
    border-radius: 5%;
    margin: 8px;
    padding: 5px 5px 20px 5px;
}
