.quizContainer{
    display: flex;
    flex-direction: column;
    margin: 60px 10px 10px 10px;
    align-items: center;
    width: auto;
    text-align: center;
}

.questionsInfo {
    width: 100%;
    position: fixed;
    background-color: #e9e9e9e4;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 30% 30%;
}

.questionsInfoTop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.allQuestionsContainer {
    margin-top: 100px;

}

.questionBlock {
    width: 90%;
    border: solid rgba(204, 204, 204, 0.451);
    border-radius: 5%;
    margin: 8px;
    padding: 5px 5px 20px 5px;
    background-color: rgba(255, 255, 255, 0.18);
}

.answersContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    
}




