.okButton{
    width: 250px;
    height: 30px;
    border: #ffafaf 3px solid;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ffa5a5;
}