.navList {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    text-align: center; 
  
}
  
  .navList li {
    margin: 0;
  }
  
  .navList a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size:xx-small   
  }
  
  .navList a:hover {
    text-decoration: underline;
  }