.levelName {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 10px #000;
  text-align: center;
  margin-top: 20px;
}

.cardQuizzesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  margin-bottom: 100px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
