.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  position: absolute;
  bottom: 25%;
  right: 10px;
  gap: 5px;
}

.buttonImage {
  border-radius: 50%;
  left: 10px;
  border: none;
  display: flex;
  justify-content: center;
  background-color: #ffffff9b;
  padding: 10px;
  box-shadow: 0 0 3px 2px #dfdfdf;
}

.buttonText {
  font-size: 16px;
  text-shadow: 0px 0px 4px #000;
  color: #ededed;
}
