.popUpResultsContainer {
    border-radius: 10px;
    width: 80%;
    height: 400px;
    position: fixed;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.89);

}

.correctAnswers {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffc2;
    border-radius: 50%;
}

.okButton{
    width: 250px;
    height: 30px;
    border: #ffafaf 3px solid;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ffa5a5;
}
