.quizCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: rgba(255, 255, 255, 0.702) solid 5px;
    border-radius: 10%;
    padding: 10px 5px 10px 5px;
    background-image: linear-gradient(70deg, #eae9ff 0%, #c3c3ff 50%, #80eaff 100%);
    width: 140px;
    height: 230px;
    text-align: center;  
}

.cardTop {
    font-size:xx-large;
    border: rgba(19, 10, 139, 0.109) solid 5px;
    border-radius: 50%;
    width: 40%;
}

.cardTop h1{
    margin: 0;
    font-size:xx-large
}

.cardBottom {
    display: flex;
    flex-direction: column;
}

.cardBottom h3{ 
    font-size: medium;
    height: 20px;
}

.cardBottom p{ 
    font-size: small;
    height: 60px;
}